.content .row {
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content .row > div {
    width: 100%;
    max-width: 530px;
    padding: 0;
}

.content .content__image {
    margin-top: 20px;
    margin-bottom: 40px;
}

.content .content__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0;
}

.content h2 {
    font-size: 2.4rem;
    margin-bottom: 30px;
}

.content .btn {
    margin-top: 30px;
    margin-bottom: 60px;
}

#information h2, 
#information p {
    width: 100%;
    max-width: 450px;
}

@media (min-width: 992px) {
    .content {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content h2 {
        font-size: 3.8rem;
        margin-bottom: 50px;
    }

    .content .content__image {
        margin-top: 0;
        margin-bottom: 0;
    }
}