.content .row {
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.content .content__text {
    padding: 0;
}

.content .content__image {
    max-width: 530px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 40px;
}

.content .content__text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0;
}

.content .btn {
    margin-top: 30px;
    margin-bottom: 60px;
}

@media (min-width: 992px) {
    .content {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .content .content__text {
        max-width: 530px;
    }

    .content .content__image {
        margin-top: 0;
        margin-bottom: 0;
    }

    #information h2, 
    #information p {
        width: 100%;
        max-width: 450px;
    }
}